@use '@angular/material' as mat;
$spotifyd-primary-color: (
  50: #fafafa,
  100: #eaeae9,
  200: #cac9c8,
  300: #969492,
  400: #615e5c,
  500: #0f122f,
  600: #24201e,
  700: #1d1a18,
  800: #141211,
  900: #0b0a09,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #fff,
  ),
);

$spotifyd-secondary-color: (
  50: #fcf2f6,
  100: #00e087,
  200: #f2bfd5,
  300: #e680ab,
  400: #00e087,
  500: #00e087,
  600: #00e087,
  700: #860039,
  800: #5c0027,
  900: #330016,
  A100: #fdf7f9,
  A200: #fdd4e2,
  A400: #e36ea0,
  A700: #d4216d,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  ),
);

$spotifyd-warm-color: (
  50: #fdf3f3,
  100: #fbe8e8,
  200: #f5c4c5,
  300: #ed8b8c,
  400: #e45152,
  500: #db1719,
  600: #af1214,
  700: #8e0e10,
  800: #620a0b,
  900: #360506,
  A100: #fdf7f7,
  A200: #f8d7d8,
  A400: #ea7b7c,
  A700: #df3536,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  ),
);
