<div class="theme-full-width">
  <div class="h-full max-w-md pb-6 mx-auto flex items-center">
    <div class="login-container">
      <h1 class="text-center">Login</h1>
      <form [formGroup]="formLogin">
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input matInput type="text">
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Password</mat-label>
          <input matInput type="password">
        </mat-form-field>

      </form>
      <button buttonSecondaryStyle [size]="btnSize.xs" (click)="click()">
        Login
      </button>
      <div class="social">
        <h2 class="text-center">Social</h2>
        <div class="w-full">
          <button class="w-full" buttonSecondaryStyle [size]="btnSize.m">
            <div class="flex items-center justify-center space-x-2">
              <mat-icon svgIcon="google"></mat-icon>
              <span>Sign In Google</span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
