// Font Variables
$roboto: 'Roboto';

// Font Size
$font-size-xxxl: 3rem; // 48px
$font-size-xxl: 2.5rem; // 40px
$font-size-xl: 2rem; // 32px
$font-size-l: 1.5rem; // 24px
$font-size-ml: 1.25rem; // 20px
$font-size-m: 1rem; // 16px
$font-size-ms: 0.875rem; // 14px
$font-size-s: 0.75rem; // 12px
$font-size-xs: 0.625rem; // 10px

$color-primary-l2: #35a583;
$color-primary-l1: #44b881;
$color-primary: #3bca87;
$color-primary-d1: #2e865d;
$color-primary-d2: #1d5e3f;


$color-neutral: #979797;
$color-white: #ffffff;
$color-black: #1b1b1b;

// Breakpoints
$mobile-min-width: 360px;
$mobile-max-width: 600px;
$tablet-min-width: 768px;
$desktop-full-screen: 1024px;
$desktop-large-screen: 1440px;
